body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
}

.app {
  text-align: center;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #238636;
  color: white;
  font-weight: bold;
}

.search-box button:hover {
  background: #2ea043;
}

.card {
  background: #161b22;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card img {
  width: 100px;
  border-radius: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stats div {
  text-align: center;
}
.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}